---
import StationPage from '../layouts/Layout.astro';

import backgroundImg from '../assets/images/flowing paint.jpg';

const pageTitle = "אתגרים";

const stations = [
  {
    type: "hero",
    title: "אתגרים",
    text: "חידות בנושאים מגוונים שארזים עוסקים בהם",
  },
  {
    type: "standard",
    title: "דיסקליימר",
    text: "האתגרים בעמוד הם של חניכים בתוכנית ומטרתם לתת טעימה לדברים שמעניינים אותנו.\
    אין להסיק מכך על אופי המיונים לארזים, והצלחה/חוסר הצלחה באתגרים אינה מנבאת הצלחה/חוסר הצלחה במיונים,\
    ואינה משפיעה על סיכויי הקבלה לתכונית. בפרט, אין לצפות שצוות האיתור יכיר את האתגרים המוצגים כאן.\
    מקווים שתהנו מהמבחר :)",
    align: "center"
  },
  {
    type: "math",
    title: "אלגברה לינארית",
    align: "center",
    text: `
      <p>אפשר לכתוב משפט בעברית, ולשלב בתוכו נוסחה קטנה כמו \\( E = mc^2 \\) ולהמשיך את המשפט כרגיל.</p>
      
      <p>אם נרצה להציג משוואה גדולה וחשובה יותר, נעטוף אותה בבלוק מתמטי כדי שתהיה מיושרת לשמאל:</p>
      
      <div class="math-block">
        $$ \\text{Mat}_n(\\mathbb{F}_2) $$
      </div>
      
      <p>וכך אנו חוזרים לטקסט רגיל בעברית בלי לשבור את היישור של הדף, והכל נשאר קריא וברור.</p>
    `
  },
  {
    type: "math",
    title: "אלגברה לינארית",
    align: "center",
    text: `
      <p>מצאו את כל ה\\( n \\in \\mathbb{N} \\) עבורם קיימת מטריצה \\( A \\in \\text{Mat}_n(\\mathbb{F}_2) \\) כך שכל הכניסות ב \\( A^2 \\) הן \\( 1 \\).</p>
    `
  },
  {
    type: "math",
    title: "אלגוריתמים",
    align: "center",
    text: `
      <p>מצאו אלגוריתם הרץ בזמן \\( O(n) \\) וממיין רשימה של \\( n \\) שברים עם מכנה ומונה החסומים על ידי \\( n \\) בערכם המוחלט.</p>
    `
  },
  {
    type: "code",
    title: "קריפטוגרפיה",
    text: "הנה",
    align: "center",
    files: [
      {
        label: "solution.py",
        lang: "python",
        path: "src/assets/code-snippets/crypto1_solve.py"
      },
      {
        label: "challenge.py",
        lang: "python",
        path: "src/assets/code-snippets/crypto1_challenge.py"
      },
      {
        label: "secret.py",
        lang: "python",
        path: "src/assets/code-snippets/crypto1_secret.py"
      }
    ]
  }
];
---

<StationPage 
  title={pageTitle}
  backgroundImage={backgroundImg}
  stations={stations} 
/>